<html>
<body>
<a href="/main">На главную страницу</a>
<div>
    <form method="post" action="archive">
        <input type="text" name="townInput" placeholder="Введите город" />
        <input type="date" name="dateInput" placeholder="Введите дату" />
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Запросить записи</button>
    </form>
</div>

<div>Все найденные прогнозы:</div>
<div>-----------------------------------------------</div>
{{#towns}}
    <div>
        <span>{{name}}</span>
        <ul>
            <li><i><div>{{#forecasts}}
                <div>
                    <span>{{degrees}} градусов, </span>
                    <span>ветер {{wind}}, </span>
                    <span>{{humidity}}% влажности воздуха, </span>
                    <span>давление {{pressure}} мм.р.с., </span>
                    <span>датировано {{date}}</span>
                </div>
            {{/forecasts}}</div></i></li>
        </ul>
    </div>
{{/towns}}

</body>
</html>